<nav class="nav">
  <a class="nav-link" href="{{B}}en/about.html">About Us</a>
  <a class="nav-link" href="{{B}}en/our-teams.html">Our Teams</a>
  <a class="nav-link" href="{{B}}en/journey.html">Journey</a>

  <div class="dropdown" data-dropdown>
    <button type="button">Programs ▾</button>
    <div class="dropdown-menu">
      <a class="nav-link" href="{{B}}en/programs.html">All Programs</a>
      <a class="nav-link" href="{{B}}en/program_music.html">Music</a>
      <a class="nav-link" href="{{B}}en/program_science.html">Science</a>
      <a class="nav-link" href="{{B}}en/program_math.html">Math</a>
      <a class="nav-link" href="{{B}}en/program_vietnamese.html">Vietnamese</a>
      <a class="nav-link" href="{{B}}en/program_english.html">English</a>
      <a class="nav-link" href="{{B}}en/program_compsci.html">Computer Science</a>
    </div>
  </div>

  <a class="nav-link" href="{{B}}en/join/">Join</a>

  <div class="dropdown align-right" data-dropdown>
    <button type="button">Support ▾</button>
    <div class="dropdown-menu">
      <a class="nav-link" href="{{B}}en/help/financial.html">Support Financially</a>
      <a class="nav-link" href="{{B}}en/help/supplies.html">Support with Study Supplies</a>
    </div>
  </div>
</nav>
